{
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "jsxSingleQuote": false,
   "semi": false,
   "singleQuote": false,
   "tabWidth": 3,
   "useTabs": false,
   "trailingComma": "es5"
}
