@use "../../../styles/functions" as f;

.login-wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding-top: 1.5em;
   font-size: 1.2em;
   .link {
      color: f.getColor("green", 200);
      align-self: flex-end;
   }
   & p.error {
      color: f.getColor("red", 400);
      font-size: 0.7em;
      align-self: flex-start;
   }
   > .link:nth-child(n) {
      font-size: 0.7em;
   }
   & > p:not(.error) {
      padding: 1em 0;
      align-self: center;
   }
   & > div {
      margin: 0.4em 0;
   }
   & span:is(.switch) {
      align-self: flex-start;
      position: relative;
      padding-top: 2em;
      &::before {
         content: "";
         position: absolute;
         top: 25%;
         left: 0;
         width: 132%;
         height: 1px;
         background: f.getColor("orange", 400, 0.5);
      }
   }
   .btn-wrapper:not(.link) {
      align-self: stretch;
      .loader {
         height: 28px;
      }
   }
   .social-media {
      display: flex;
      align-self: stretch;
      justify-content: space-evenly;
      margin-bottom: 0;
      a {
         display: inline-block;
         line-height: 0;
      }
      img {
         width: 2.4em;
         border-radius: 50%;
         transition: transform 200ms ease-out;
         &:hover {
            filter: brightness(0.8);
            transform: scale(1.15);
         }
      }
   }
   .facebook-login-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .fb-login-button.fb_iframe_widget {
         width: inherit;
      }
   }
}
