@use "../../../styles/functions" as f;

.title {
   padding: 4em 0 2em 0;
   text-align: center;
   user-select: none;
   h1 {
      letter-spacing: 0.4em;
      background: linear-gradient(
         to right,
         f.getColor("pink", 400) 10%,
         f.getColor("blue", 400),
         f.getColor("violet", 200),
         f.getColor("orange", 400, 0.8),
         f.getColor("green", 200) 90%
      );
      background-size: 400%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: flow 5s linear infinite;
   }

   @keyframes flow {
      0% {
         background-position: 0%;
      }
      50% {
         background-position: 100%;
      }
      100% {
         background-position: 0%;
      }
   }
}
