$color: (
   "primary": (
      200: hsl(268, 100%, 65%),
      400: hsl(268, 80%, 50%),
      600: hsl(268, 100%, 30%),
      800: hsl(268, 100%, 20%),
   ),
   "secondary": (
      200: hsl(318, 100%, 65%),
      400: hsl(318, 80%, 50%),
      600: hsl(318, 100%, 30%),
      800: hsl(318, 100%, 20%),
   ),
   "black": (
      200: hsl(0, 0%, 30%),
      400: hsl(0, 0%, 20%),
      600: hsl(0, 0%, 15%),
      800: hsl(0, 0%, 10%),
   ),
);

$font: (
   "size": (
      pimary: 18px,
      secondary: 14px,
      title: 32px,
   ),
   "weight": (
      pimary: 400,
      secondary: 200,
      title: 600,
   ),
);
