$color: (
   "background": (
      200: hsl(262, 48%, 22%),
      400: hsl(245, 39%, 28%),
      600: hsl(240, 34%, 21%),
      800: hsl(246, 57%, 10%),
   ),
   "violet": (
      200: hsl(262, 100%, 81%),
      400: hsl(262, 65%, 53%),
      600: hsl(262, 100%, 30%),
      800: hsl(262, 94%, 14%),
   ),
   "pink": (
      200: hsl(322, 69%, 66%),
      400: hsl(322, 65%, 53%),
      600: hsl(322, 66%, 37%),
      800: hsl(322, 63%, 24%),
   ),
   "blue": (
      200: hsl(224, 68%, 69%),
      400: hsl(224, 49%, 55%),
      600: hsl(224, 53%, 40%),
      800: hsl(224, 62%, 35%),
   ),
   "green": (
      200: hsl(148, 68%, 69%),
      400: hsl(148, 49%, 55%),
      600: hsl(148, 53%, 40%),
      800: hsl(148, 62%, 35%),
   ),
   "orange": (
      200: hsl(34, 68%, 69%),
      400: hsl(34, 75%, 57%),
      600: hsl(34, 100%, 43%),
      800: hsl(34, 94%, 30%),
   ),
   "black": (
      200: hsl(0, 0%, 30%),
      400: hsl(0, 0%, 20%),
      600: hsl(0, 0%, 15%),
      800: hsl(0, 0%, 10%),
   ),
   "white": (
      200: hsl(0, 0%, 95%),
      400: hsl(0, 0%, 85%),
      600: hsl(0, 0%, 73%),
      800: hsl(0, 0%, 60%),
   ),
);

$font: (
   "size": (
      pimary: 23px,
      secondary: 18px,
      title: 40px,
   ),
   "weight": (
      pimary: 400,
      secondary: 200,
      title: 600,
   ),
);
