@use "variables" as v;
@use "functions" as f;
@use "fonts";

body {
   margin: 0;
   font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: f.getColor("white", 200);
   background: f.getColor("background", 800);
   background: radial-gradient(
      circle at 50% -50px,
      f.getColor("background", 400),
      f.getColor("background", 800)
   );
   background-attachment: fixed;
}
