@use "../../../styles/functions" as f;

.btn-wrapper {
   $button-size-sm: 2.3em;
   $button-size-md: 3em;

   cursor: pointer;
   user-select: none;
   border-radius: 15%;
   border-bottom-left-radius: initial;
   background-size: 200%;
   box-shadow: 0px 4px 8px 0 f.getColor("pink", 200, 0.3);
   transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s,
      box-shadow ease-in-out 0.1s, background-position ease 0.5s;
   button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: inherit;
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      height: 100%;
      width: 100%;
      outline: none;
      &:focus-visible {
         outline: none;
      }
   }

   &:hover,
   &:focus,
   &:focus-visible {
      text-decoration: none;
      outline: none;
      background-position: right;
   }
   &:active {
      transform: translateY(4px);
      box-shadow: 0 2px 4px f.getColor("pink", 400, 0.5);
   }

   span {
      color: f.getColor("white", 200);
      padding: 0;
      margin: 0;
      &.sm {
         font-size: 1.8em;
      }
      &.md {
         font-size: 2.6em;
      }
   }
   &.primary {
      background-image: linear-gradient(
         255deg,
         f.getColor("pink", 200),
         f.getColor("orange", 200)
      );
   }

   &.secondary {
      background-image: linear-gradient(
         205deg,
         f.getColor("violet", 400),
         f.getColor("pink", 400)
      );
   }

   &.subtle {
      background-color: transparent;
      border: 3px solid;
      border-image: linear-gradient(
            to bottom,
            f.getColor("violet", 400),
            f.getColor("pink", 400)
         )
         1;
   }
   &.sm {
      width: $button-size-sm;
      height: $button-size-sm;
   }
   &.md {
      width: $button-size-md;
      height: $button-size-md;
   }
   &.circle {
      border-radius: 50%;
   }
   &.minimalist {
      position: relative;
      box-shadow: none;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         transition: all 0.25s ease;
         border-radius: 100%;
         z-index: -1;
      }
      &:hover::before {
         box-shadow: inset 0 $button-size-sm/2 + 0.03em 0.35em 0em
               f.getColor("pink", 400),
            inset 0 $button-size-sm/-2 - 0.05em 0.3em 0
               f.getColor("violet", 400);
      }
   }
}
