@use "../../../styles/functions" as f;

.search {
   &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 1em;
   }
}
