@use "../../../styles/functions" as f;
@use "../../../styles/mixins" as m;

.input {
   &__wrapper {
      position: relative;
      display: flex;
      width: 100%;
      input {
         position: relative;
         outline: none;
         border: none;
         background-color: transparent;
         font: inherit;
         color: f.getColor("white", 200);
         width: inherit;
         transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
         &::placeholder {
            color: f.getColor("white", 200);
            opacity: 0.8;
            font-weight: 200;
         }
         &:focus-visible::placeholder {
            transform: translatex(110%);
            transition: transform cubic-bezier(0.35, 0.55, 0.95, 0.035) 0.5s;
         }
         &:-webkit-autofill,
         &:-webkit-autofill:hover,
         &:-webkit-autofill:focus,
         &:-webkit-autofill:active {
            -webkit-text-fill-color: f.getColor("white", 200) !important;
            transition: background-color 5000ms ease-in-out 0s;
            transition-delay: 9999s;
         }
      }
      &.sm {
         padding: 0.2em;
         input {
            font-size: f.getFontProp("size", "secondary");
         }
         .material-icons-round {
            padding-right: 0.4em;
            font-size: f.getFontProp("size", "secondary") * 1.3;
            align-self: flex-end;
            user-select: none;
            color: f.getColor("green", 200, 0.6);
         }
      }
      &.md {
         padding: 0.3em;
         input {
            font-size: f.getFontProp("size", "primary");
         }
         .material-icons-round {
            padding-right: 0.6em;
            font-size: f.getFontProp("size", "primary") * 1.3;
            align-self: flex-end;
            user-select: none;
         }
      }
      &::after {
         content: "";
         position: absolute;
         opacity: 0;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background: linear-gradient(
            to left,
            f.getColor("orange", 200),
            f.getColor("pink", 200)
         );
         transition: opacity ease 0.2s;
      }
      &.loading::after {
         opacity: 1;
         height: 0.2em;
         background: linear-gradient(
            to left,
            f.getColor("orange", 200) 48%,
            f.getColor("white", 200) 50%,
            f.getColor("white", 200) 52%,
            f.getColor("pink", 200) 54%
         );
         background-size: 200%;
         animation: flow 1.3s linear infinite;
      }
      &[focus]::after {
         opacity: 1;
      }
   }
   @keyframes flow {
      0% {
         background-position: 0%;
      }
      50% {
         background-position: 100%;
      }
      100% {
         background-position: 0%;
      }
   }
}
