@use "../../../styles/functions" as f;
@use "../../../styles/variables" as *;

.card-wrapper {
   display: inline-flex;
   margin: 0.5em;
   height: auto;
   width: auto;
   overflow: hidden;
   border-radius: 0.4em;
   a {
      display: inherit;
      text-decoration: none;
      color: inherit;
      border-radius: inherit;
      &:hover + .options,
      &:focus + .options {
         visibility: visible;
         opacity: 1;
      }
   }
   &:hover a,
   &:focus-within a {
      border-radius: 0;
   }
}

.thumbnail {
   position: relative;
   background-color: f.getColor("black", 600);
   border-radius: inherit;
   transition: all ease-in 0.3s;
   p {
      margin: 0.2em 0.5em 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
   }
   img {
      border-top-right-radius: inherit;
   }
   &:hover {
      border-radius: 0;
   }
}

.options {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 0 0.7em;
   background-color: f.getColor("black", 600);
   visibility: visible;
   opacity: 1;
   transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
   &:hover,
   &:focus-within {
      opacity: 1;
      visibility: visible;
   }
   @media (hover) {
      opacity: 0;
      visibility: hidden;
   }
}

.duration {
   background-color: f.getColor("black", 600);
   border-radius: 0em 1em 0.1em 1em;
   padding: 0.5em;
   position: absolute;
   top: -0.5em;
   left: -0.5em;
}
